// font size
.text {
  &-32 {
    font-size: 32px;
  }

  &-24 {
    font-size: 24px;
  }

  &-18 {
    font-size: 18px;
  }

  &-16 {
    font-size: 16px;
  }

  &-14 {
    font-size: 14px;
  }

  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-gradient {
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
}

// font weight
.fw {
  &-light {
    font-weight: 300;
  }

  &-normal {
    font-weight: 400;
  }

  &-medium {
    font-weight: 500;
  }

  &-semi-bold {
    font-weight: 600;
  }

  &-bold {
    font-weight: 700;
  }
}

// border-radius
.rounded {
  &-4 {
    border-radius: 4px;
    overflow: hidden;
  }

  &-8 {
    border-radius: 8px;
    overflow: hidden;
  }

  &-full {
    border-radius: 1000px;
    overflow: hidden;
  }
}

// position
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: absolute;
}

.z {
  &-10 {
    z-index: 10;
  }

  &-20 {
    z-index: 20;
  }

  &-30 {
    z-index: 30;
  }

  &-40 {
    z-index: 40;
  }

  &-50 {
    z-index: 50;
  }

  &-60 {
    z-index: 60;
  }

  &-70 {
    z-index: 70;
  }

  &-80 {
    z-index: 80;
  }

  &-90 {
    z-index: 90;
  }

  &-100 {
    z-index: 100;
  }
}

.centerX {
  left: 50%;
  transform: translateX(-50%);
}

.centerY {
  top: 50%;
  transform: translateY(-50%);
}

.inline-center {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

// spacing
.mx-auto {
  margin-inline: auto;
}

.my-auto {
  margin-block: auto;
}

.m {
  &-auto {
    margin: auto;
  }

  &-0 {
    margin: 0;
  }

  &l-auto {
    margin-left: auto;
  }

  &r-auto {
    margin-right: auto;
  }
}

.p {
  &-0 {
    padding: 0;
  }

  &-1 {
    padding: 0.5rem;
  }

  &-2 {
    padding: 1rem;
  }
}

// width
.w {
  &-100 {
    width: 100%;
  }

  &-fit-content {
    width: fit-content;
  }

  &-max-content {
    width: max-content;
  }
}

.h-100 {
  height: 100%;
}

// flex
.flex {
  display: flex;

  &.justify-between {
    justify-content: space-between;
  }

  &.justify-center {
    justify-content: space-center;
  }

  &.items-center {
    align-items: center;
  }

  &.items-end {
    align-items: end;
  }

  &.gap-1 {
    gap: 4px;
  }

  &.gap-2 {
    gap: 8px;
  }

  &.gap-3 {
    gap: 12px;
  }

  &.gap-4 {
    gap: 16px;
  }

  &-grow-1 {
    flex-grow: 1;
  }
}

// text
.line-height {
  &-5 {
    line-height: 1.5;
  }

  &-8 {
    line-height: 1.8;
  }
}

.txt-decoration-none {
  text-decoration: none;
}

.list-style-none {
  list-style-type: none;
}

.cursor-pointer {
  cursor: pointer;
}