// font size
.text {
    &-32 {
        font-size: 32px;
    }

    &-18 {
        font-size: 18px;
    }

    &-16 {
        font-size: 16px;
    }

    &-14 {
        font-size: 14px;
    }
}

// font weight
.fw {
    &-normal {
        font-weight: 400;
    }

    &-medium {
        font-weight: 500;
    }

    &-semi-bold {
        font-weight: 600;
    }

    &-bold {
        font-weight: 700;
    }
}


// border-radius
.rounded {
    &-4 {
        border-radius: 4px;
        overflow: hidden;
    }

    &-8 {
        border-radius: 8px;
        overflow: hidden;
    }

    &-full {
        border-radius: 1000px;
        overflow: hidden;
    }
}

// position
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: absolute;
}

.centerX {
    left: 50%;
    transform: translateX(-50%);
}

.inline-center {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

// spacing
.mx-auto {
    margin-inline: auto;
}

.my-auto {
    margin-block: auto;
}

.m {
    &-auto {
        margin: auto;
    }

    &-0 {
        margin: 0;
    }
}

.p {
    &-0 {
        padding: 0;
    }

    &-1 {
        padding: 0.5rem;
    }

    &-2 {
        padding: 1rem;
    }
}

// width
.w {
    &-100 {
        width: 100%;
    }

    &-fit-content {
        width: fit-content;
    }

    &-max-content {
        width: max-content;
    }
}

.h-100 {
    height: 100%;
}


// flex
.flex {
    display: flex;

    &.justify-between {
        justify-content: space-between;
    }

    &.justify-center {
        justify-content: space-center;
    }

    &.items-center {
        align-items: center;
    }

    &.gap-1 {
        gap: 4px;
    }

    &.gap-2 {
        gap: 8px;
    }

    &.gap-3 {
        gap: 12px;
    }

    &.gap-4 {
        gap: 16px;
    }
    &-grow-1{
        flex-grow: 1;
    }
}


// text
.line-height {
    &-5 {
        line-height: 1.5;
    }

    &-8 {
        line-height: 1.8;
    }
}

.txt-decoration-none {
    text-decoration: none;
}

.list-style-none {
    list-style-type: none;
}