nav {
  top: 24px;
  background-color: $neutral-grey-light;
  padding: 10px 50px 10px;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
  max-width: 1356px;
  width: 100%;
  z-index: 9999;
  overflow: visible;
  border-radius: 8px;

  .logo {
    max-width: 76px;
    margin-right: 32px;
  }

  .menu,
  .close {
    max-width: 40px;
    height: 40px;
    display: none;
    cursor: pointer;
  }

  .menu {
    display: none;
  }

  .mobile-nav {
    animation: top-down 0.4s ease-in-out;
  }

  @keyframes top-down {
    0% {
      transform: translate(-50%, -120%);
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      transform: translate(-50%, 0%);
      opacity: 1;
    }
  }

  .nav-item-list {
    gap: 60px;

    .nav-item {
      width: 96px;
      height: 74px;

      a {
        color: $neutral-carbon-dark;

        &:hover {
          font-weight: 700;
          color: $primary-purple-light;
        }
      }

      &::before {
        content: "";
        height: 4px;
        border-radius: 100px;
        background-color: $primary-purple-light;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: 0.4s;
      }
    }
  }

  .right {
    margin-left: 80px;

    .search {
      max-width: 36px;
      height: 36px;
      transition: 0.4s;
      background-color: $primary-10;

      &:hover {
        background-color: $neutral-grey-medium;
      }

      &:active {
        path {
          stroke: $primary-purple-dark;
        }
      }
    }

    .cta-btn {
      margin: 0 37px 0 31px;
    }

    .language {
      color: $primary-purple-light;
      transition: 0.4s;

      span {
        border-bottom: 1.5px none $primary-purple-medium;
      }

      .icon-globe,
      .icon-dropdown {
        max-width: 24px;
        height: 24px;
        transition: 0.4s;
      }

      &:hover {
        span {
          color: $primary-purple-medium;
          border-bottom: 1.5px solid $primary-purple-medium;
        }

        .icon-globe,
        .icon-dropdown {
          path {
            stroke: $primary-purple-medium;
          }
        }
      }

      &:active {
        .icon-dropdown {
          rotate: 180deg;
        }

        span {
          color: $primary-purple-medium;
        }

        .icon-globe,
        .icon-dropdown {
          path {
            stroke: $primary-purple-dark;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  nav {
    max-width: calc(100vw - 20px);

    .menu {
      display: block;
    }

    .mobile-nav {
      display: none;
    }

    .mobile-nav.active {
      display: block;
      background: $secondary-color-white;
      position: absolute;
      top: 90px;
      left: 50%;
      transform: translateX(-50%);
      padding: 20px 40px;
      padding-top: 40px;
      border-radius: 8px;
      box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
      flex-direction: column;
      max-width: 420px;
      width: 100%;

      .close {
        display: block;
      }

      ul {
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
        gap: 0;

        .nav-item {
          width: 100%;
          border-bottom: 1px solid $neutral-grey-light;
          height: 80px;

          a {
            width: 100%;
            height: 100%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .right {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  nav {
    padding-inline: 20px;
  }
}
