$neutral-10: #E9E9E9;
$neutral-grey-medium: #DADADA;
$neutral-grey-light: #F4F4F4;
$neutral-grey-dark: #7D7D7D;
$neutral-carbon-light: #464646;
$neutral-carbon-dark: #2D2D2D;
$black: #000000;

$primary-10: #F2EDFD;
$primary-purple-light: #804FEE;
$primary-purple-medium: #691CC2;
$primary-purple-dark: #45206E;
$graidend-purple: linear-gradient(164.496deg, #7151d9 0%, #5e40af 54%, #4a2d7e 100%);
$graidend-purple2: linear-gradient(-160.779deg, #6f4fd3 0%, #543695 100%);
$pink-gradient: linear-gradient(164.496deg, #c92f85 0%, #8429a8 54%, #6029b9 100%);

$annotaion-pink: #F2BFFF;
$secondary-color-white: #FFFFFF;